{{define "area-blueprint"}}
<div id="area-blueprint">
    <input type="hidden" id="bp-area-name" name="area-name" value="{{.Name}}" />
    <h3>Blueprint ({{.Name}})</h3>
    {{range $i, $instruction := .Blueprint.Instructions}}
    <div id="instruction-{{$i}}">
        <input type="hidden" name="instruction-id" value="{{$instruction.ID}}" />
        <span><b>{{$i}}</b> | (Y: {{$instruction.Y}}, X: {{$instruction.X}}) Rotations: {{$instruction.ClockwiseRotations}}</span>
        <a  hx-delete="/area/blueprint/instructions" 
            hx-include="#instruction-{{$i}} [name='instruction-id'],[name='currentCollection'],[name='currentSpace'],#bp-area-name" 
            hx-target="#instruction-{{$i}}"
            href="#">Delete</a>
        <a  hx-put="/area/blueprint/instructions/order" 
            hx-include="#instruction-{{$i}} [name='instruction-id'],[name='currentCollection'],[name='currentSpace'],#bp-area-name" 
            hx-target="#area-blueprint"
            href="#">order++</a>
        <a  hx-put="/area/blueprint/instructions/rotation" 
            hx-include="#instruction-{{$i}} [name='instruction-id'],[name='currentCollection'],[name='currentSpace'],#bp-area-name"
            hx-target="#area-blueprint"
            href="#">rotations++</a>
        <br />
    </div>
    {{end}}
</div>
{{end}}