{{define "areas"}}
<div id="space_select">
    <label>Space: </label>
    <a hx-get="/spaces/new" hx-include="[name='currentCollection']" hx-target="#space_select" href="#">New</a> |
    <a hx-get="/space" hx-include="[name='currentCollection'],[name='currentSpace']" hx-target="#area_select" href="#">Edit</a> | 
    <a hx-post="/space/map" hx-include="[name='currentCollection'],[name='currentSpace']" hx-target="#area_select" href="#">Save/Map</a>
    <select name="currentSpace" hx-get="/areas" hx-include="[name='currentCollection']" hx-target="#space_select">
        <option value="{{.Space.Name}}">{{.Space.Name}}</option>
        {{range  $key, $value := .Collection.Spaces}}
            <option value="{{$key}}">{{$key}}</option>
        {{end}}
    </select>
    <div id="area_select">
        <div id="area-page">
            <input type="hidden" name="currentCollection" value="{{.Space.CollectionName}}" />
            <input type="hidden" name="currentSpace" value="{{.Space.Name}}" />
            <div id="select-area">
                <label>Area: <a hx-get="/areas/new" hx-include="[name='currentCollection'],[name='currentSpace']" hx-target="#select-area" href="#">New</a></label></label>
                <select name="area-name-selected" hx-get="/area" hx-include="[name='currentSpace'],[name='currentCollection']" hx-target="#edit-area">
                    <option value="">--</option>
                    {{range  $i, $area := .Space.Areas}}
                        <option value="{{$area.Name}}">{{$area.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div id="edit-area">
            
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "area-new"}}
<div id="area-new">
    <form hx-include="[name='currentCollection'],[name='currentSpace']" hx-post="/areas" hx-target="#area-new">
        <label>Name:</label>
        <input type="text" name="new-area-name" value="" />
        <label>Default Tile Color:</label>
        <input type="text" name="default-tile-color" value="" />        
        <label>Safe:</label>
        <input type="checkbox" name="safe" ><br />
        <label>Height:</label>
        <input type="text" name="area-height" value="" />
        <label>Width:</label>
        <input type="text" name="area-width" value="" />
        <input type="submit" />
    </form>
</div>
{{end}}