{{define "area-modify"}}
    {{template "available-tools"}}
    {{template "material-select" .}}
{{end}}

{{define "available-tools"}}
<div id="tool_select"> 
    <input type="radio" id="rt-select" name="radio-tool" value="select" checked>
    <label for="rt-select">Select</label>
    <input type="radio" id="rt-replace" name="radio-tool" value="replace">
    <label for="rt-replace">Replace</label>
    <input type="radio" id="rt-fill" name="radio-tool" value="fill">
    <label for="rt-fill">Fill</label>
    <input type="radio" id="rt-right" name="radio-tool" value="between">
    <label for="rt-right">Fill between selected</label>
</div>
{{end}}