{{define "area-details"}}
<div id="saveForm">
    <div id="save_notice"></div>
    <form hx-post="/area" hx-include hx-target="#save_notice">
        <input type="hidden" name="currentCollection" value="{{.Space.CollectionName}}"/>
        <input type="hidden" name="currentSpace" value="{{.Space.Name}}"/>
        <input type="hidden" name="originalAreaName" value="{{.Area.Name}}"/>
        <label>Name:</label>
        <input type="text" name="areaName" value="{{.Area.Name}}" />
        <label>Default Tile Color:</label>
        <input type="text" name="defaultTileColor" value="{{.Area.Blueprint.DefaultTileColor}}">
        <label>Default Tile Color1:</label>
        <input type="text" name="defaultTileColor1" value="{{.Area.Blueprint.DefaultTileColor1}}">
        <label>Weather:</label>
        <input type="text" name="weather" value="{{.Area.Weather}}">
        <label>Safe:</label>
        <input type="checkbox" name="safe" {{.Checked}}><br />
        <label>Load Strategy:</label>
        <input type="text" name="loadStrategy" value="{{.Area.LoadStrategy}}">
        <label>Spawn Strategy:</label>
        <input type="text" name="spawnStrategy" value="{{.Area.SpawnStrategy}}">
        <label>Broadcast Group:</label>
        <input type="text" name="broadcastGroup" value="{{.Area.BroadcastGroup}}">
        <button>Save</button><br />
    </form>
</div>
{{end}}