{{define "grid-modify"}}
    <select id="fixture_select" name="current-fixture" hx-get="/selectFixture" hx-target="#fixture-window" hx-include="[name='currentCollection'],[name='currentSpace'],[name='area-name'],#fragment-edit [name='fragment-set'],#fragment-edit [name='fragment']">
        <option value="prototype" selected>Prototypes</option>
        <option value="fragment">Fragments</option>
        <option value="transformation">Transformations</option>
        <option value="blueprint">Blueprint</option>
        <option value="interactable">Interactable</option>
    </select>
    <div id="fixture-window">
        {{template "fixture-prototype" .}}
    </div>
{{end}}

{{define "available-tools-prototype"}}
<div id="tool_select"> 
    <input type="radio" id="rt-select" name="radio-tool" value="select" checked>
    <label for="rt-select">Select</label>
    <input type="radio" id="rt-replace" name="radio-tool" value="replace">
    <label for="rt-replace">Replace</label>
    <input type="radio" id="rt-fill" name="radio-tool" value="fill">
    <label for="rt-fill">Fill</label>
    <input type="radio" id="rt-right" name="radio-tool" value="between">
    <label for="rt-right">Fill between selected</label>
    <input type="radio" id="rt-proto-place-bp" name="radio-tool" value="place-blueprint">
    <label for="rt-proto-place-bp">Place on Blueprint</label>
</div>
{{end}}

{{define "fixture-fragment"}}
    {{template "available-tools-fragment"}}
    {{template "fragments" .}}
{{end}}

{{define "available-tools-fragment"}}
<div id="tool_select"> 
    <input type="radio" id="rt-fragment-place" name="radio-tool" value="place">
    <label for="rt-select">Place</label>
    <input type="radio" id="rt-fragment-place-bp" name="radio-tool" value="place-blueprint" checked>
    <label for="rt-proto-place-bp">Place on Blueprint</label>
</div>
{{end}}

{{define "fixture-prototype"}}
    {{template "available-tools-prototype"}}
    {{template "prototype-select" .}}
{{end}}

{{define "fixture-transformation"}}
    {{template "available-tools-transformation"}}
    {{template "transformation-edit" . }}
{{end}} 

{{define "available-tools-transformation"}}
<div id="tool_select"> 
    <input type="radio" id="rt-select" name="radio-tool" value="select" checked>
    <label for="rt-select">Select</label>
    <input type="radio" id="rt-rotate" name="radio-tool" value="rotate">
    <label for="rt-roate">Rotate</label>
</div>
{{end}}

{{define "transformation-edit"}}
<div id="transformation-edit">
    <form>

    </form>
</div>
{{end}}



{{define "fixture-interactables"}}
    {{template "available-tools-interactable"}}
    {{template "interactable-select" .}}
{{end}}

{{define "available-tools-interactable"}}
<div id="tool_select"> 
    <input type="radio" id="rt-select" name="radio-tool" value="interactable-select" checked>
    <label for="rt-interactable-select">Select</label>
    <input type="radio" id="rt-interactable-replace" name="radio-tool" value="interactable-replace">
    <label for="rt-interactable-replace">Replace</label>
    <input type="radio" id="rt-interactable-delete" name="radio-tool" value="interactable-delete">
    <label for="rt-interactable-delete">Delete</label>
</div>
{{end}}

{{define "available-tools-ground"}}
<div id="tool_select"> 
    <input type="radio" id="rt-t-select" name="radio-tool" value="select" checked>
    <label for="rt-t-select">Select</label>
    <input type="radio" id="rt-toggle" name="radio-tool" value="toggle">
    <label for="rt-toggle">Toggle</label>
    <input type="radio" id="rt-t-fill" name="radio-tool" value="toggle-fill">
    <label for="rt-t-fill">Toggle Fill</label>
    <input type="radio" id="rt-t-between" name="radio-tool" value="toggle-between">
    <label for="rt-t-between">Toggle between selected</label>
</div>
{{end}}