{{define "prototype-select"}}
<div id="prototype-select">
    <form hx-trigger="change" hx-include="[name='currentCollection']" hx-get="/prototypes" hx-target="#prototype-select">
        <label>Prototype Set: <a hx-get="/prototypes/new" hx-include="[name='currentCollection']" href="#">New</a></label>
        <select id="prototype-set" name="prototype-set">
            <option value="{{.CurrentSet}}">{{.CurrentSet}}</option>
            {{range $i, $name := .PrototypeSets}}
            <option value="{{$name}}">{{$name}}</option>
            {{end}}
        </select>
        {{if not (eq .CurrentSet "")}}
            <a hx-get="/prototype/new" hx-include="#prototype-set,[name='currentCollection']" hx-target="#prototype-select" href="#">New [{{.CurrentSet}}] Prototype</a>
        {{end}}
    </form>
    <form>
        <div id="prototype-container">
            {{if .Prototypes}}
                {{template "prototype-list" .Prototypes}}
            {{end}}
        </div>
    </form>
</div>
{{end}}

{{define "prototype-list"}}
{{range $i, $proto := .}}
<div id="prototype-window-{{$i}}" class="left">
    <input type="hidden" name="prototype" value="{{$proto.ID}}" />
    <input type="radio" name="selected-asset-id" value="{{$proto.ID}}" {{if eq $i 0}} checked {{end}} />
    <br />
    {{template "proto-square" $proto}}
    <label>{{$proto.CommonName}}</label><br />
    <a href="#" hx-get="/prototype" hx-target="#edit_tool" hx-include="#prototype-set,#prototype-window-{{$i}} [name='prototype'],[name='currentCollection']">edit</a>
</div>
{{end}}
{{end}}

{{define "proto-square"}}
<div id="exampleSquare" class="grid-row">
    <div class="grid-square {{.CssColor}}">
        <div class="box floor1 {{.Floor1Css}}"> </div>
        <div class="box floor2 {{.Floor2Css}}"> </div>
        <div class="box ceiling1 {{.Ceiling1Css}}"></div>
        <div class="box ceiling2 {{.Ceiling2Css}}"> </div>
    </div>
</div>
{{end}}

{{define "prototypes-new"}}
<div id="prototypes-new">
    <form hx-include="[name='currentCollection']" hx-post="/prototypes" hx-target="#prototypes-new">
        <input type="text" name="prototype-set-name" value="Enter Set Name." />
        <input type="submit" />
    </form>
</div>
{{end}}

{{define "prototype-new"}}
<div id="prototype-new">
    <form hx-include="[name='currentCollection']" hx-post="/prototype" hx-target="#prototype-new">
        <input type="hidden" name="prototype-set" value="{{.CurrentSet}}" />
        <div id="exampleSquare" class="grid-row">
            <div class="grid-square"></div>
        </div>
        <div>
            <label>Name: </label>
            <input type="text" name="CommonName" value="">
        </div>
        <div>
            <label>Css Color Name: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='Floor2Css'],[name='Ceiling1Css'],[name='Ceiling2Css']" type="text" name="CssColor" value="">
        </div>
        <div>
            <label>Floor 1 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='CssColor'],[name='Floor2Css'],[name='Ceiling1Css'],[name='Ceiling2Css']" type="text" name="Floor1Css" value="">
        </div>
        <div>
            <label>Floor 2 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='CssColor'],[name='Ceiling1Css'],[name='Ceiling2Css']" type="text" name="Floor2Css" value="">
        </div>
        <div>
            <label>Ceiling 1 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='Floor2Css'],[name='CssColor'],[name='Ceiling2Css']" type="text" name="Ceiling1Css" value="">
        </div>
        <div>
            <label>Ceiling 2 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='Floor2Css'],[name='Ceiling1Css'],[name='CssColor']" type="text" name="Ceiling2Css" value="">
        </div>
        <div>
            <label>Walkable: </label>
            <input type="checkbox" name="walkable" />
        </div>
        <button class="btn">Save</button>
    </form>
</div>
{{end}}

{{define "prototype-edit"}}
<div id="prototype-edit">
    <form hx-include="[name='currentCollection']" hx-put="/prototype" hx-target="#prototype-edit">
        <input type="hidden" name="prototype-set" value="{{.SetName}}" />
        <input type="hidden" name="prototype-id" value="{{.ID}}" />
        <div id="exampleSquare" class="grid-row">
            <div class="grid-square {{.CssColor}}">
                <div class="box floor1 {{.PeekFloor1}}"> </div>
                <div class="box floor2 {{.PeekFloor2}}"> </div>
                <div class="box ceiling1 {{.PeekCeiling1}}"></div>
                <div class="box ceiling2 {{.PeekCeiling2}}"> </div>
            </div>
        </div>
        <div>
            <label>ID: {{.ID}} <br />
                Set Name: {{.SetName}}</label>
            <input type="text" name="CommonName" value="{{.CommonName}}">
        </div>
        <div>
            <label>Css Color Name: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='Floor2Css'],[name='Ceiling1Css'],[name='Ceiling2Css']" type="text" name="CssColor" value="{{.CssColor}}">
        </div>
        <div>
            <label>Floor 1 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='CssColor'],[name='Floor2Css'],[name='Ceiling1Css'],[name='Ceiling2Css']" type="text" name="Floor1Css" value="{{.Floor1Css}}">
        </div>
        <div>
            <label>Floor 2 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='CssColor'],[name='Ceiling1Css'],[name='Ceiling2Css']" type="text" name="Floor2Css" value="{{.Floor2Css}}">
        </div>
        <div>
            <label>Ceiling 1 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='Floor2Css'],[name='CssColor'],[name='Ceiling2Css']" type="text" name="Ceiling1Css" value="{{.Ceiling1Css}}">
        </div>
        <div>
            <label>Ceiling 2 Css: </label>
            <input hx-get="/prototype/example" hx-trigger="change" hx-target="#exampleSquare" hx-include="[name='Floor1Css'],[name='Floor2Css'],[name='Ceiling1Css'],[name='CssColor']" type="text" name="Ceiling2Css" value="{{.Ceiling2Css}}">
        </div>
        <div>
            <label>Walkable: </label>
            <input type="checkbox" name="walkable" {{if .Walkable}}checked{{end}} />
        </div>
        <button class="btn">Save</button>
    </form>
</div>
{{end}}