{{define "space-page"}}
<div id="space_page">
	<div id="collection_header">
		<input type="hidden" name="currentCollection" value="{{.Name}}" />
		<span>
			<b>Collection:</b>  {{.Name}}  
			<span>(Save)</span>
			<b><a hx-get="/compile" hx-include="[name='currentCollection']" hx-target="#panel" href="#">(Compile)</a></b>
			<b><a hx-get="/deploy" hx-include="[name='currentCollection']" hx-target="#panel" href="#">(Deploy)</a></b>
		</span>
	</div>
	<br />
	<div id="space_select">
		<label>Space: </label>
        <a hx-get="/spaces/new" hx-include="[name='currentCollection']" hx-target="#space_select" href="#">New</a> |
        <span>Edit | </span>
		<span>Save/Map</span>
		<!--<a hx-get="/space" hx-include="[name='currentCollection'],[name='currentSpace']" hx-target="#space_select" href="#">Edit</a>
        <a hx-post="/space/map" hx-include="[name='currentCollection'],[name='currentSpace']" hx-target="#space_select" href="#">Save/Map</a>
	-->
		<select name="currentSpace" hx-get="/areas" hx-include="[name='currentCollection']" hx-target="#space_select">
			<option value=""></option>
			{{range  $key, $value := .Spaces}}
				<option value="{{$key}}">{{$key}}</option>
			{{end}}
		</select>
		<div id="area_select">

		</div>
	</div>
	<br />
</div>
{{end}}

{{define "space-new"}}
<div id="space_new">
	<form hx-post="/spaces">
		<input type="hidden" name="currentCollection" value="{{.Name}}" />
		
		<h3>Create New Space</h3>
		<label><b>Space Name: </b></label>
		<input type="text" name="newSpaceName" /><br />
		<br />
		<label><b>Latitude: </b></label>
		<input type="text" name="latitude" /><br />
		
		<label><b>Longitude: </b></label>
		<input type="text" name="longitude" /><br />

		<label><b>Topology: </b></label><br />
		<span><input type="radio" name="topology" value="plane" checked />Plane</span><br />
		<span><input type="radio" name="topology" value="torus" />Torus</span><br />
		<span><input type="radio" name="topology" value="disconnected" />Disconnected</span><br />
		<br /> 

		</label><b>Area Dimensions</b></label><br />
		<label>Width : </label><input type="text" name="areaWidth" value="16"/>
		<label>Height : </label><input type="text" name="areaHeight" value="16" /><br />
		
		<label>Default Tile Color : </label>
		<input type="text" name="tileColor" /><br />

		<input type="submit" />
	</form>
</div>
{{end}}


{{define "space-edit"}}
<div id="edit_window_space" class="side">
	
    <input id="space-name" type="hidden" name="currentSpace" value="{{.SelectedSpace.Name}}"/>
	
    <div id="edit_space" class="left">
        <div id="top_window">
            
        </div>
        
        <div class="grid">
			<input name="grid-collection" type="hidden" value="{{.SelectedSpace.CollectionName}}" />
			<input name="grid-space" type="hidden" value="{{.SelectedSpace.Name}}" />
			{{range $y, $row := .AreaTiles}}
			<div class="grid-row">
				{{range $x, $tile := $row}}
				<div id="spacegrid-{{$y}}-{{$x}}" 
						class="grid-square" 
						hx-get="/area" 
						hx-trigger="click" 
						hx-include="#spacegrid-{{$y}}-{{$x}} [name='area-name-selected'],
									#space-name,
									[name='currentCollection']"
						hx-target="#selected_area_details">
					<input name="area-name-selected" type="hidden" value="{{$tile.SelectedArea.Name}}" />
					<img src="{{$tile.ImgUriPath}}" height="100%" width="100%"/>
				</div>
				{{end}}
			</div>
			{{end}}
		</div>

        <div id="bottom_window">
        </div>
        
    </div>
    <div id="edit_sidebar" class="left">
        <div id="edit_options">
            <a href="#">Details</a> |
			<a href="#">Structures</a> |
            <span>Modify Areas</span> |
            <span>All Transports</a> 
        </div>
        <div id="edit_tool_space">
			{{template "save-details" .SelectedSpace}}
        </div>
    </div>
</div>
<br />
<div id="selected_area_details">
</div>
{{end}}

{{define "save-details"}}
<div id="save-details">
    <div id="save_notice"></div>
    <form hx-target="#save_notice">
        <h2 class="no-top-margin">{{.Name}}</h2>
        <table>
            <tr>
                <td><strong>Topology:</strong></td>
                <td>{{.Topology}}</td>
            </tr>
            <tr>
                <td><strong>Latitude:</strong></td>
                <td>{{.Latitude}}</td>
            </tr>
            <tr>
                <td><strong>Longitude:</strong></td>
                <td>{{.Longitude}}</td>
            </tr>
            <tr>
                <td><strong>Area Height:</strong></td>
                <td>{{.AreaHeight}}</td>
            </tr>
            <tr>
                <td><strong>Area Width:</strong></td>
                <td>{{.AreaWidth}}</td>
            </tr>
        </table>
    </form>
</div>
{{end}}