<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
<link rel="stylesheet" href="assets/style.css">

<h1>Welcome. Please click the button below:</h1>

<div id="parent-div">
    <button hx-post="/hello"
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="innerHTML">
        Click Me!
    </button>
</div>

<button hx-post="/hfisduhfisudfh"
        hx-trigger="click"
        hx-target="#c2-0"
        hx-swap="outerHTML">
Why?
</button>

<br />

<div class="grid">
    <div class="grid-row">
        <div class="grid-square" id="c2-0"></div>
        <div class="grid-square" id="c2-1"></div>
        <div class="grid-square" id="c2-2"></div>
        <div class="grid-square" id="c2-3"></div>
    </div>
    <div class="grid-row">
        <div class="grid-square" id="c1-0"></div>
        <div class="grid-square" id="c1-1"></div>
        <div class="grid-square" id="c1-2"></div>
        <div class="grid-square" id="c1-3"></div>
    </div>
    <div class="grid-row">
        <div class="grid-square" id="c0-0"></div>
        <div class="grid-square" id="c0-1"></div>
        <div class="grid-square" id="c0-2"></div>
        <div class="grid-square" id="c0-3"></div>
    </div>
</div>
