a, a:visited, a:hover, a:active {
    color: #5a9bd8;
}

a:hover {
    color: #8aabc8;
}

div.notify-click a {
  color: #fff7a1;
}
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Form Styles */
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #353545;
    border-radius: 8px;
    overflow: auto;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    display: block;
  }
  
  input[type="submit"],
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #0056b3;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
  }

  .no-top-margin {
    margin-top: 0;
}

.dangerous {
  background-color: #ff007b !important;

}
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    form {
      width: 90%;
      padding: 15px;
    }
  }
  