.grid {
    display: grid;
}

.grid-row {
    display: flex;
}

.grid-square {
    width: 30px;
    height: 30px;
    background-color: rgb(172, 152, 219);
    border: 1px solid rgba(48, 152, 240, 1);
    cursor: pointer;
    position: relative;
}

.left {
      float: left;
      padding: 15px;
}

.side {
     clear: both;  
}

input[type="text"].inline-input {
    display: inline-block;
    width: 5ch;
    padding: 2px 5px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensures padding doesn't increase the width */
    font-family: inherit; /* Inherit font settings from the parent */
    font-size: inherit;
}

img {
    image-rendering: pixelated; 
}

/* Site Backgrounds */
  
.day {
    background-color: #aaffff;
}

.night {
    background-color: #120500;
}

.twilight {
    background-color: #ff6a5c;
}

/* Overlays */
* {
    box-sizing: border-box;
  }

.box {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -.5px;
    left: -.5px;
    margin: 0px;
    padding: 0px;
}
  
.zP {
    z-index: 20;
  }
  
.top {
    z-index: 40;
  }

.floor1 {
    z-index: 10;
} 

.floor2 {
    z-index: 11;
} 

.ceiling1 {
    z-index: 30;
}

.ceiling2 {
    z-index: 31;
}

.trsp {
    opacity: 0;
}

.trsp20 {
    opacity: .2;
}

.trsp40 {
    opacity: .4;
}

/* replace with trsp50 */
.half-trsp {
    opacity: .5;
}

.trsp60 {
    opacity: .60;
}

.trsp80 {
    opacity: .80;
}

.trsp100 {
    opacity: 1;
}


.r0 {
    border-radius: 25%
}

.r0-bl {
    border-bottom-left-radius: 25%
}

.r0-br {
    border-bottom-right-radius: 25%
}

.r0-tl {
    border-top-left-radius: 25%
}

.r0-tr {
    border-top-right-radius: 25%
}

.r1 {
    border-radius: 50%
}

.r1-bl {
    border-bottom-left-radius: 50%
}

.r1-br {
    border-bottom-right-radius: 50%
}

.r1-tl {
    border-top-left-radius: 50%
}

.r1-tr {
    border-top-right-radius: 50%
}

.r2 {
    border-radius: 75%
}

.r2-bl {
    border-bottom-left-radius: 75%
}

.r2-br {
    border-bottom-right-radius: 75%
}

.r2-tl {
    border-top-left-radius: 75%
}

.r2-tr {
    border-top-right-radius: 75%
}


/* no need? */
.r3 {
    border-radius: 90%
}

.r3-bl {
    border-bottom-left-radius: 90%
}

.r3-br {
    border-bottom-right-radius: 90%
}

.r3-tl {
    border-top-left-radius: 90%
}

.r3-tr {
    border-top-right-radius: 90%
}

.r4-bl {
    border-bottom-left-radius: 100%
}

.r4-br {
    border-bottom-right-radius: 100%
}

.r4-tl {
    border-top-left-radius: 100%
}

.r4-tr {
    border-top-right-radius: 100%
}

.r5-bl {
    border-bottom-left-radius: 1000%
}

.r5-br {
    border-bottom-right-radius: 1000%
}

.r5-tl {
    border-top-left-radius: 1000%
}

.r5-tr {
    border-top-right-radius: 1000%
}

.thin {
    border-style: solid;
    border-width: 1px;
}

.med {
    border-style: solid;
    border-width: 2px;
}

.thick {
    border-style: solid;
    border-width: 5px;
}

.margin {
    margin: 5px;
}

/* SVG  */

.svgGreen {  
    fill: rgb(105, 255, 100);
    fill-opacity: .6;
}

.svgRed {
    fill: rgb(255, 105, 100);
    fill-opacity: .8;
}

.svgBlue {
    fill: rgb(15, 100, 255);
    fill-opacity: .8;
}

.svgYellow {
    fill: rgb(255, 255, 100);
    fill-opacity: .8;
}


/* navigation */ 
.dpad-container {
    display: grid;
    grid-template-areas: 
        "x0 up x1"
        "left middle right"
        "x2 down x3";
    gap: 5px;
}
.button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
}
.half-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.up { grid-area: up; }
.down { grid-area: down; }
.left { grid-area: left; }
.right { grid-area: right; }
.middle { grid-area: middle; visibility: hidden; }

.navigator {
    display: flex; 
    justify-content: space-between;
    margin: 0;
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

.center_text {
    text-align: center;
}