.white {
    background-color: rgb(255, 255, 255);
}

.red {
    background-color: rgb(250, 0, 0);
}

.grass {
    background-color: rgb(210, 250, 180);
}

.water {
    background-color: rgb(155, 155, 220);
}

.sand {
    background-color: rgb(250, 245, 175);
}

