.grid {
    display: grid;
}

.grid-row {
    display: flex;
    grid-template-columns: repeat(40, 30px);
}

.grid-square {
    width: 30px;
    height: 30px;
    border: 1px solid #30a0f0;
    background-color: rgb(172, 152, 219);
    cursor: pointer;
}


.left {
    float: left;
    /*border: 2px solid red;*/
    padding: 15px;
}

.selected {
    border: 1px solid #ff2020;
}