{{ define "choose-your-color" }}
<div id="page" class="center-vertically" hx-swap-oob="true">
	
    <div id="main_view">
        
        <div id="info" hx-swap-oob="true">
             <form hx-post="/new" hx-target="#bottom_text">
                <input type="hidden" name="desired-host" value="{{.DomainName}}">
                <b>New Player</b>
                
                <div class="form-group color-selection">
                    <label id="color-window-0">
                        <input type="radio" name="player-team" value="fuchsia" />
                        <div id="exampleSquare-0">
                            <div class="grid-square-example fuchsia"></div>
                        </div>
                    </label>

                    <label id="color-window-1">
                        <input type="radio" name="player-team" value="sky-blue" checked/>
                        <div id="exampleSquare-1">
                            <div class="grid-square-example sky-blue"></div>
                        </div>
                    </label>	
                
                </div>

                <div class="form-group">
                    <label class="left-float">Username:</label>
                    <input type="text" name="player-name" value="{{.SuggestedUsername}}"/>
                </div>

                <div class="form-group" style="justify-content: center;">
                    <input type="submit" value="Go">
                </div>
            </form>
        </div>
        <div id="bottom_text">
        </div>
    </div>

</div>
{{end}}


{{define "post-play-on-load" }}
<div id="info" hx-swap-oob="true" hx-post="{{.}}/play" hx-trigger="load">
    <span>Successful!</span> <br />
    <br />
    <span>Loading... please wait.</span> 
</div>
{{end}}