{{ define "homepage" }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/assets/htmx-mod.js"></script>
<script src="/assets/ws.js"></script>
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/colors.css">
<body>
    <div id="page">
        <div id="logo">
            <img class="logo-img" src="/assets/blooplogo2.webp" width="80%" alt="Welcome to bloopworld"><br />
        </div>
        <div id="landing">
            {{ if . }}
                <a class="large-font" href="#" hx-post="/play" hx-target="#landing">Play</a><br />
            {{ else }}
                <a class="large-font" href="/auth?provider=google"> Sign in with Google </a>
            {{ end }}
        </div>
    </div>
</body>
{{ end }}
