{{ define "homepage" }}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/assets/htmx-mod.js"></script>
<script src="/assets/ws.js"></script>
<script src="/assets/fx.js"></script>
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/colors.css">
<body>
    <div id="page">
        <div id="logo">
            <img class="logo-img" src="/assets/blooplogo2.webp" width="80%" alt="Welcome to bloopworld"><br />
        </div>
        <div id="landing">
            {{ if . }}
                <a class="large-font" href="#" hx-get="/worlds" hx-target="#landing">Play</a><br />
            {{ else }}
                <a class="large-font" href="/auth?provider=google"> Sign in with Google </a>
            {{ end }}
        </div>
    </div>
    <div id="sound-trigger" class="invisible"><div id="sound"></div></div>
</body>
{{ end }}

{{define "world-select"}}
<div id="page" hx-swap-oob="true">
    <div id="logo">
        <img src="/assets/blooplogo2.webp" width="33%" alt="Welcome to bloopworld"><br />
    </div>
    <div id="landing">   
        {{range  $i, $domain := .}}
        <div id="world-display" hx-get="{{$domain}}/status" hx-trigger="load" hx-request='{"credentials": true}'>

        </div>
        {{end}}
    </div>
</div>
{{end}}

{{define "world-status"}}
<div class="rounded-cyan-border center-horizontally">
    <span>
        Server : <strong>{{.ServerName}}</strong><br />
        Players <br />
        <strong class="fuchsia-t">Fuchsia: </strong> <strong>{{.FuchsiaCount}}</strong> |
        <strong class="sky-blue-t">SKy-Blue: </strong> <strong>{{.SkyBlueCount}}</strong><br />
        <br />
        <strong><a class="large-font" href="#" hx-post="{{.DomainName}}/play" hx-target="#page">Play</a><br /></strong>
    </span>

</div>

{{end}}