{{ define "player-page" }}
<div id="page" hx-swap-oob="true">
    <div id="main_view">
        <div id="info">
            <b>
                {{.LoginRequest.Record.Username}} <span id="hearts">{{.LoginRequest.Record.HeartsFromRecord}}</span> <br />
                <span id="streak" class="red">Streak 0</span> | <span id="boosts" class="blue">^ 0</span>  | <span id="money" class="dark-green">$ {{.LoginRequest.Record.Money}}</span>&#20<span id="power"></span>
            </b>
        </div>
        <div id="screen" class="grid">
            <div class="center-horizontally">
                <br />
                <span id="status-screen" hx-get="/wrong" hx-trigger="load delay:4s">Loading . . .</span>
                <br />
                <br />
            </div>
        </div>
        <div id="bottom_text">
            <!-- &nbsp;&nbsp;&gt; Press 'm' for Menu. -->
        </div>
    </div>
    <div id="controls" hx-ext="ws" ws-connect="{{.DomainName}}/screen">
        <input id="token" ws-send hx-trigger="load once" type="hidden" name="token" value="{{.LoginRequest.Token}}" />
        <input hx-post="/clear" hx-target="#screen" hx-swap="outerHTML" hx-trigger="keydown[key=='0'] from:body" type="hidden" />

        <div id="modal_background">
            
        </div>
        {{ template "input" }}
        <div id="script"></div>
    </div>
</div>
{{end}}


{{ define "player-screen"}}
<div id="screen" class="grid">
	{{range $y, $row := .}}
	<div class="grid-row">
		{{range $x, $cell := $row}}
		<div id="c{{$y}}-{{$x}}" class="grid-square">
			<div id="Lg1-{{$y}}-{{$x}}" class="box g1"></div>
			<div id="Lg2-{{$y}}-{{$x}}" class="box g2"></div>
			<div id="Lf1-{{$y}}-{{$x}}" class="box f1"></div>
			<div id="Lf2-{{$y}}-{{$x}}" class="box f2"></div>
			<div id="Lp1-{{$y}}-{{$x}}" class="box zp"></div>
			<div id="Li1-{{$y}}-{{$x}}" class="box zi"></div>
			<div id="Ls1-{{$y}}-{{$x}}" class="box zs">
				<svg width="22" height="22">
					<circle class="svgRed" cx="7" cy="7" r="7"></circle>
					<circle class="svgGreen" cx="7" cy="14" r="7"></circle>
					<circle class="svgBlue" cx="14" cy="14" r="7"></circle>
				</svg>
			</div>
			<div id="Lc1-{{$y}}-{{$x}}" class="box c1"></div>
			<div id="Lc2-{{$y}}-{{$x}}" class="box c2"></div>
			<div id="Lw1-{{$y}}-{{$x}}" class="box zw"></div>
			<div id="Lt1-{{$y}}-{{$x}}" class="box top"></div>
		</div>
		{{end}}
	</div>
	{{end}}
</div>
{{ end }}


{{ define "input" }}
<div id="input">
    <div id="input-desktop">
        <input id="wShift" type="hidden" ws-send hx-trigger="keydown[key=='W'||(shiftKey&&key=='ArrowUp')] from:body" name="eventname" value="W" />
        <input id="aShift" type="hidden" ws-send hx-trigger="keydown[key=='A'||(shiftKey&&key=='ArrowLeft')] from:body" name="eventname" value="A" />
        <input id="sShift" type="hidden" ws-send hx-trigger="keydown[key=='S'||(shiftKey&&key=='ArrowDown')] from:body" name="eventname" value="S" />
        <input id="dShift" type="hidden" ws-send hx-trigger="keydown[key=='D'||(shiftKey&&key=='ArrowRight')] from:body" name="eventname" value="D" />
        <input id="wKey" type="hidden" ws-send hx-trigger="keydown[key=='w'||key=='ArrowUp'] from:body" name="eventname" value="w" />
        <input id="aKey" type="hidden" ws-send hx-trigger="keydown[key=='a'||key=='ArrowLeft'] from:body" name="eventname" value="a" />
        <input id="sKey" type="hidden" ws-send hx-trigger="keydown[key=='s'||key=='ArrowDown'] from:body" name="eventname" value="s" />
        <input id="dKey" type="hidden" ws-send hx-trigger="keydown[key=='d'||key=='ArrowRight'] from:body" name="eventname" value="d" />
        <input id="eKey" type="hidden" ws-send hx-trigger="keydown[key=='e'||key=='E'] from:body" name="eventname" value="e" />
        <input id="qKey" type="hidden" ws-send hx-trigger="keydown[key=='q'||key=='Q'] from:body" name="eventname" value="q" />
        <input id="fKey" type="hidden" ws-send hx-trigger="keydown[key=='f'] from:body" name="eventname" value="f" />
        <input id="gKey" type="hidden" ws-send hx-trigger="keydown[key=='g'] from:body" name="eventname" value="g" />
        <input id="hKey" type="hidden" ws-send hx-trigger="keydown[key=='h'||key=='H'] from:body" name="eventname" value="h" />
        <input id="menuOnKey" type="hidden" ws-send hx-trigger="keydown[key=='m'||key=='M'||key=='Escape'] from:body" name="eventname" value="menuOn" />
        <input id="space-onKey" type="hidden" ws-send hx-trigger="keydown[key==' '] from:body" name="eventname" value="Space-On" />
    </div>

    <input id="w" type="hidden" ws-send hx-trigger="click from:#but-w" name="eventname" value="w" />
    <input id="a" type="hidden" ws-send hx-trigger="click from:#but-a" name="eventname" value="a" />
    <input id="s" type="hidden" ws-send hx-trigger="click from:#but-s" name="eventname" value="s" />
    <input id="d" type="hidden" ws-send hx-trigger="click from:#but-d" name="eventname" value="d" />
    <input id="wShift" type="hidden" ws-send hx-trigger="click from:#but-wShift" name="eventname" value="W" />
    <input id="aShift" type="hidden" ws-send hx-trigger="click from:#but-aShift" name="eventname" value="A" />
    <input id="sShift" type="hidden" ws-send hx-trigger="click from:#but-sShift" name="eventname" value="S" />
    <input id="dShift" type="hidden" ws-send hx-trigger="click from:#but-dShift" name="eventname" value="D" />

    <input id="menuOn" type="hidden" ws-send hx-trigger="click from:#but-m,click from:#but-m-shift" name="eventname" value="menuOn" />
    <input id="space-on" type="hidden" ws-send hx-trigger="click from:#but-space,click from:#but-space-shift" name="eventname" value="Space-On" />
    <input id="shift-on" type="hidden" ws-send hx-trigger="click from:#but-shift-on" name="eventname" value="Shift-On" />
    <input id="shift-off" type="hidden" ws-send hx-trigger="click from:#but-shift-off" name="eventname" value="Shift-Off" />

    <div id="dpad" class="container">
        <div class="dpad-container">
            <button id="but-w" class="button borderless up">w  &#9650;</button>
            <button id="but-a" class="button borderless left">&#9666; a</button>
            <button class="button middle"></button>
            <button id="but-d" class="button borderless right">d &#9656;</button>
            <button id="but-s" class="button borderless down">s &#9660;</button>
        </div>
        <div class="center-container">
            <button id="but-m" class="half-button">menu</button>
        </div>
        <div class="a-b-container">
            <button id="but-space" class="button borderless A">Space</button>
            <button id="but-shift-on" class="button borderless B">Shift</button>
        </div>
    </div>
    <div id="dpad-shift" class="container hidden">
        <div class="dpad-container">
            <button id="but-wShift" class="button shift up">W&#9650;</button>
            <button id="but-aShift" class="button shift med left">&#9666;A</button>
            <button class="button middle"></button>
            <button id="but-dShift" class="button shift med right">D&#9656;</button>
            <button id="but-sShift" class="button shift med down">S&#9660;</button>
        </div>
        <div class="center-container">
            <button id="but-m-shift" class="half-button">menu</button>
        </div>
        <div class="a-b-container">
            <button id="but-space-shift" class="button borderless A">Space</button>
            <button id="but-shift-off" class="button shift B">Shift</button>
        </div>
    </div>
</div>
{{end}}