{{define "world-select"}}
<div id="page" class="center-vertically" hx-swap-oob="true">
    <div id="container"> 
        {{template "logo-small"}}
        <div id="landing">   
            {{range  $i, $domain := .}}
            <div id="world-display" class="rounded-cyan-border center-horizontally" hx-get="{{$domain}}/status" hx-trigger="load">
                <span id="status-{{$i}}" hx-get="/unavailable" hx-trigger="load delay:2s">Loading . . .</span>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}

{{define "world-status"}}
<div>
    <span>
        Server : <strong>{{.ServerName}}</strong><br />
        Players <br />
        <strong class="fuchsia-t">Fuchsia: </strong> <strong>{{.FuchsiaCount}}</strong> |
        <strong class="sky-blue-t">Sky-Blue: </strong> <strong>{{.SkyBlueCount}}</strong><br />
        <br />
        {{if .Vacancy}}
            <strong><a class="large-font" href="#" hx-post="{{.DomainName}}/play" hx-target="#page">Play</a></strong><br />
        {{else}}
            <strong>At capacity!</strong><br />
        {{end}}
    </span>
</div>
{{end}}

{{define "log-out"}}
<div id="page" class="center-vertically">
    <div id="container">
        {{template "logo-small"}}
        <div id="landing">   
            <span>{{.Text}}</span><br />
            <a class="large-font" href="#" hx-post="{{.Domain}}/play" hx-target="#page">Resume</a><br />
            <a class="large-font" href="/" >Exit</a><br />
        </div>
    </div>
</div>
{{end}}