.grid {
    display: grid;
    grid-gap: 1px;
  }
  
  .grid-row {
    display: flex;
    grid-template-columns: repeat(40, 30px);
  }
  
  .grid-square {
    width: 30px;
    height: 30px;
    border: 1px solid #30a0f0;
    background-color: rgb(172, 152, 219);
    cursor: pointer;
  }
  


  .green {
    background-color: rgb(32, 255, 69);
  }

  .lime {
    background-color: rgb(150, 255, 42);
  }

  .yellow {
    background-color: rgb(239, 239, 69);
  }

  .orange {
    background-color: rgb(255, 150, 69);
  }

  .red {
    background-color: rgb(255, 32, 69);
  }

  .blue {
    background-color: rgb(72, 52, 239);
  }

  .fusia {
    background-color: rgb(253, 52, 172);
  }
  
  .half-gray {
    background-color: rgb(120, 120, 129);
  }