@font-face {
    font-family: 'BloopRetro';
    src: url('PIXY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.retro-input {
    background-color: #120500;
    caret-color: cyan;
    color: white;
    font-size: 20px;
}

html, body {
    overflow-x: hidden;
  }

html {
    min-height:100%;
}


body {
    /*
    Sunset: #ef693c;
    Day : Light cyan? #7aeeff
    background-color: #120500;*/
    background-color: #120500;
    font-family: 'BloopRetro', sans-serif;
    width:100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
    overflow: none;
    margin: 0;
    /*margin-left: 8;*/
    margin-top: 6;
}

.day {
    background-color: #aaffff;
}

.night {
    background-color: #120500;
}

.twilight {
    background-color: #ff6a5c;
}

#page {
    width:100%;
    justify-content: center;
}


#main_view {
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

#logo {
    width:100%;
    text-align: center;
}

.large-font {
    font-size: 35px;
}

#landing {
    text-align: center;
}

a {
    color: #00ffff;
}

.selected {
    background-color: #00ffff;
    color:#120500
}

/* color select */


.left-float {
    float: left;
    padding: 15px;
}


/* Modal */

.modal_bg {
    display: block; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0,0,0,0.6);
}

.modal_content {
    background-color: rgba(0,0,0,0.4);
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    position: relative;
    top: 10%;
}

img {
    image-rendering: pixelated; 
}


/* Grid */

.grid {
    display: grid;
  }

@media (orientation: landscape) {
 #screen {
     width: 40%
 }

 .logo-img {
    width: 40%
 }

 .modal_content {
    width: 37%;
}
}

@media (orientation: portrait) {
 #screen {
     width: 87%
 }

 .logo-img {
    width: 87%
 }
}

.grid-row {
    display: grid;        
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  
.grid-square {
    aspect-ratio: 1;
    border: 0px solid rgba(172, 152, 219,0);
    /*background-color: rgb(172, 152, 219);*/
    cursor: pointer;
    position: relative;
  }
  
/* these colors are needed by the game itself */

  .green {
    background-color: rgb(32, 255, 60);
  }

  .dark-green {
    background-color: rgb(32, 155, 60);
  }

  .lime {
    background-color: rgb(150, 255, 60);
  }

  .yellow {
    background-color: rgb(255, 255, 60);
  }

  .orange {
    background-color: rgb(255, 150, 60);
  }

  .red {
    background-color: rgb(255, 32, 60);
  }

  .dark-red {
    background-color: rgb(155, 16, 30);
  }

  .blue {
    background-color: rgb(72, 52, 238);
  }

  .fuchsia {
    background-color: rgb(253, 52, 172);
  }

  .sky-blue {
    background-color: rgba(48, 152, 240);
  }

  .dim-fuchsia {
    background-color: rgb(89, 18, 60); /* 60% darker */
  }

  .dim-sky-blue {
    background-color: rgb(17, 53, 84); /* 60% darker */
  }

  .pink {
    background-color: rgb(253, 182, 215);
  }

  .salmon {
    background-color: rgb(255, 165, 145);
  }
  
  .half-gray {
    background-color: rgb(120, 120, 129);
  }
  
  .dark-blue {
    background-color: rgb(32, 32, 65);
  }

/* Overlays */
* {
    box-sizing: border-box;
  }

  .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
  
/*
floor1
floor2
zp
zi
zs
cailing1
ceiling2
zw
top

*/

.zp {
    z-index: 20;
  }
 
  /*
.zu {
    z-index: 21;
}
    */
  
.zi {
    z-index: 25;
}
  
.zs {
    z-index: 26;
}
  
.zw {
    z-index: 35;
}
  
.top {
    z-index: 40;
  }

.floor1 {
    z-index: 10;
} 

.floor2 {
    z-index: 11;
} 

.ceiling1 {
    z-index: 30;
}

.ceiling2 {
    z-index: 31;
}

.trsp {
    opacity: 0;
}

.trsp20 {
    opacity: .2;
}

.trsp40 {
    opacity: .4;
}

/* used? */
.half-trsp {
    opacity: .5;
}

.trsp50 {
    opacity: .5;
}

.trsp60 {
    opacity: .60;
}

.trsp80 {
    opacity: .80;
}

.trsp100 {
    opacity: 1;
}
.r0 {
    border-radius: 25%
}

.r0-bl {
    border-bottom-left-radius: 25%
}

.r0-br {
    border-bottom-right-radius: 25%
}

.r0-tl {
    border-top-left-radius: 25%
}

.r0-tr {
    border-top-right-radius: 25%
}

.r1 {
    border-radius: 50%
}

.r1-bl {
    border-bottom-left-radius: 50%
}

.r1-br {
    border-bottom-right-radius: 50%
}

.r1-tl {
    border-top-left-radius: 50%
}

.r1-tr {
    border-top-right-radius: 50%
}

.r2 {
    border-radius: 75%
}

.r2-bl {
    border-bottom-left-radius: 75%
}

.r2-br {
    border-bottom-right-radius: 75%
}

.r2-tl {
    border-top-left-radius: 75%
}

.r2-tr {
    border-top-right-radius: 75%
}

.thin {
    border-style: solid;
    border-width: 1px;
}

.med {
    border-style: solid;
    border-width: 2px;
}

.thick {
    border-style: solid;
    border-width: 5px;
}

/* SVG  */

.svgGreen {  
    fill: rgb(105, 255, 100);
    fill-opacity: .6;
}

.svgRed {
    fill: rgb(255, 105, 100);
    fill-opacity: .8;
}

.svgBlue {
    fill: rgb(15, 100, 255);
    fill-opacity: .8;
}

.svgYellow {
    fill: rgb(255, 255, 100);
    fill-opacity: .8;
}

/* Buttons */
.container {
    display: none;
}

@media (hover:none), (hover:on-demand) { 
    /* Controls and style for non-desktop e.g mobile, touch */
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        gap: 6px;
        position: fixed;
        z-index: 101;
        left: 0;
        bottom: 80;
        width: 100%;
    }
    .dpad-container {
        display: grid;
        grid-template-areas: 
            "x0 up x1"
            "left middle right"
            "x2 down x3";
        gap: 5px;
    }
    .button {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
        aspect-ratio: 1;
    }
    .half-button {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .up { grid-area: up; }
    .down { grid-area: down; }
    .left { grid-area: left; }
    .right { grid-area: right; }
    .middle { grid-area: middle; visibility: hidden; }
    .a-b-container {
        display: grid;
        grid-template-areas: 
            "x0 a"
            "b x1";
        gap: 10px;
        float: right;
    }

    .A { grid-area: a; }
    .B { grid-area: b; }
}



/* New Player */

form {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 100%;
}

b {
    font-size: 1em;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.left-float {
    flex: 1;
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #7a8add;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #8a9add;
}

input[type="radio"] {
    margin-right: 5px;
}


.grid-square-example {
    width: 40px;
    height: 40px;
    border-radius: 25%
}

p {
    margin: 0;
}

/*
.grid-row {
    display: flex;
    justify-content: center;
}
    */


#color-window-0,
#color-window-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.color-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

