@font-face {
    font-family: 'BloopRetro';
    src: url('PIXY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.retro-input {
    background-color: #120500;
    caret-color: cyan;
    color: white;
    font-size: 20px;
}

body {
    background-color: #120500;
    font-family: 'BloopRetro', sans-serif;
    width:100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
}

#logo {
    width:100%;
    display: flex;
    justify-content: center;
}

.large-font {
    font-size: 35px;
}

#landing {
    text-align: center;
}

a {
    color: #00ffff;
}

.grid {
    display: grid;
    /*grid-gap: 1px;*/
  }
  
  .grid-row {
    display: flex;
    grid-template-columns: repeat(40, 30px);
  }
  
  .grid-square {
    width: 30px;
    height: 30px;
    border: 1px hidden #ffffff;
    background-color: rgb(172, 152, 219);
    cursor: pointer;
  }
  
/* these colors are needed by the game itself */

  .green {
    background-color: rgb(32, 255, 60);
  }

  .lime {
    background-color: rgb(150, 255, 60);
  }

  .yellow {
    background-color: rgb(255, 255, 60);
  }

  .orange {
    background-color: rgb(255, 150, 60);
  }

  .red {
    background-color: rgb(255, 32, 60);
  }

  .blue {
    background-color: rgb(72, 52, 238);
  }

  .fusia {
    background-color: rgb(253, 52, 172);
  }

  .pink {
    background-color: rgb(253, 182, 215);
  }
  
  .half-gray {
    background-color: rgb(120, 120, 129);
  }
  
  .dark-blue {
    background-color: rgb(32, 32, 65);
  }

/* SVG  */

.svgGreen {
    fill: green;
    fill-opacity: .6;
}

.svgYellow {
    fill: yellow;
    fill-opacity: .6;
}